@charset "UTF-8";

/*body {
    background: #c2c9d7 url(../img/bg.jpg) top center repeat-y fixed;
    font-size: 18px;
    color: #333;
    line-height: 1.2;
    font-family: "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
    min-width: 940px;
    min-height: 100%;
    position: relative;
    margin-right: 0;
}-----*/

/*メニューカテゴリーリスト
-----------------------------------------*/
#categoryMenu {
    position: absolute;
    top: 65px;
    left: 700px;
    width: 217px;
}

.Category small {
    margin-left: 20px;
}


section li a {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
    text-decoration: none;
    /*background: url(../img/icon1.png) no-repeat 5px 13px;*/
    padding: 10px 10px 10px 17px;
    margin: 0 5px;

}

section li a:hover {
    color: #333;
    text-decoration: underline;
}

/*modoru------*/
#modoru {
    margin-left: 740px; 
    margin-top: 20px;
}


#modoru ul {
    border: 1px solid #BBB;
    width: 150px;
    padding-bottom: 10px;
    border: none;
    background-color: #e3e2e2cb; 
}

#modoru li a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #333;
    text-decoration: none;
  
    padding: 12px 0px 0px 10px;
    margin: 0 0 0;
    border-bottom: none;
}
 

#modoru li a:hover {
    color: #333;
    text-decoration: underline;
}

div[class*="Img"] {

    min-height: 150px;
    padding: 300px 0 0px;
    margin-bottom: 0;
    position: relative;
}

div.leftImg h2,
div.leftImg p {
    margin-left: 255px;
}

div.rightImg h2,
div.rightImg p {
    margin-right: 255px;
}

div[class*="Img"] h2 {
    background: url(../img/icon3.png) no-repeat 5px .1em;
    color: #630;
    font-size: 16px;
    line-height: 1.1;
    padding: 0 0 0 20px;
    margin-bottom: 5px;
}

div[class*="Img"] p {
    color: #666;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 1em;
}

div[class*="Img"] img {
    position: absolute;
    top: 0;
}

div.leftImg img {
    left: 0px;
}

div.rightImg img {
    right: 0px;
}



div.leftImg h2,
div.leftImg p {
    margin-left: 255px;
}

div.big[class*="Img"] {
    min-height: 180px;
}

div.big.leftImg h2,
div.big.leftImg p {
    margin-left: 470px;
}

/* Pick Up!!
    -----------------------------------------*/
div[class*="Category"] {
 
    min-height: 180px;
    padding: 50px 0 25px;
    margin-bottom: 0;
    position: relative;
}

.Category {
    position: relative;
}

.Category article {
    float: left;
    width: 132px;
    margin: 0 9px;
}

.Category ul {
    border: none;
    background: none;
    padding-bottom: 15px;
    background: none;
    border: none;
}

.Category article li a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
    text-decoration: none;

    padding: 0 ;
    margin: 0 ;
    border-bottom: none;
}

.Category article li a:hover {
    color: #333;
    text-decoration: underline;
}



.Category h1 {
    background: #999;
    font-size: 18px;
    color: #FFF;
    text-indent: 45px;
    width: 100%;
    height: 41px;
    line-height: 50px;
    margin-bottom: 30px;
    position: relative;
    font-family: Arial, "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

.Category article img {

    display: block;
    margin-bottom: 5px;
}

.Category article p {
    font-size: 12px;
}

.Category a article p {
    color: #333;
    text-decoration: none;
}

.Category a:hover article p {
    text-decoration: underline;
}